.mensajeprincipal
	-if @docentes
		#listado-profesores
			%table{:border=>1,:width=>"60%"}
				%tr
					%th Cedula-Nombre
				-@docentes.each do |doc|
					-mi_docente = Usuario.informacion(doc.usuario_cedula)
					%tr
						%td= mi_docente.descripcion
%hr
.demo
	%p
	= button_to "Atras" ,:action => "bienvenida" ,:controller =>"principal"
