%h2 
  ¿Que es GESTPRO?
.descripcionmensaje
  %p Es una herramienta diseñada para la gestion de los proyectos relacionados a las materias que ofrece la escuela de computación.Facilita muchas tareas relacionadas con las gestion de proyectos a los profesores y alummnos agilizando este proceso
  