.mensajeprincipal 
	.sms
		%p			
			Se eliminar el estudiante de la seccion especificada 
	=form_tag(:action => "procesar_eliminar_estudiante")do
		%p
		=label :materia ,:id,"Materia:"
		%br/
		=collection_select :materia,:id,@materias,:id,:nombre,:prompt=>"Seleccione"
		%p
		=label :seccion,:nombre,"Seccion:"
		%br/
		#secciones_agregar_est
		%p
		=label :estudiante,:cedula ,"Cedula:"
		%br/
		=text_field :estudiante,:cedula
		%p
		= submit_tag "Eliminar Estudiante",:confirm=>"Esta usted seguro?"
%hr
%p			
.demo
	= button_to "Atras" ,:action => "bienvenida",:controller=>"principal"